@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Black+Ops+One&family=Clicker+Script&family=Dancing+Script:wght@400;500&family=Edu+TAS+Beginner:wght@400;500&family=Ephesis&family=Inconsolata&family=Kenia&family=Montserrat:ital,wght@1,200&family=Playpen+Sans:wght@100;300;600;800&family=Roboto:ital,wght@0,100;1,100&family=Saira+Extra+Condensed:wght@100&family=Smooch+Sans:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  padding-top: 50px;
  height: 130vh;
  width: 100%;
}

header {
  opacity: 0.9;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
a:hover {
  cursor: pointer;
}
.logo {
  font-family: "Roboto", sans-serif, arial;
  display: inline-block;
  width: 190px;
  text-decoration: none;
  font-size: 1.6em;
  color: rgb(0, 0, 0);
  font-weight: 1000;
  cursor: pointer;
  transition: transform 0.7s;
  margin-right: 50px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  position: absolute;
  left: 10%;
}

.logoicon {
  color: #ff4500;
  position: absolute;
  bottom: 14px;
  transition: 0.6s;
}
.logoicon:hover {
  transform: scale(1.1);
  color: rgb(0, 0, 0);
}
/* cursor i */
i {
  cursor: pointer;
}
/* x-mark */
a.exit {
  font-size: 34px;
  color: #333434;
  position: absolute;
  right: 5%;
}
.fa-solid.fa-xmark {
  position: fixed;
}
/* log in */
/* title log in */
.sign.title {
  color: rgb(31, 122, 182);
  font-size: 37px;
  position: absolute;
  left: 50%;
  padding-top: 120px;
  transform: translate(-50%, -50%);
}
/* log in forme card */
.sign.up {
  background-color: white;
  width: 476px;
  height: 91%;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 6px;
  box-shadow: rgb(112, 112, 112) 0px 0px 1px;
}

/* email+password+log in */
.sign input {
  margin-top: 30px;
  height: 45px;
  width: 80%;
  border-radius: 4px;
  outline: none;
  margin-top: 60px;
  border: 1px solid #ced4da;
  padding-left: 20px;
  padding-right: 0px;
  position: relative;
  left: 20px;
  top: 100px;
}
/* submit editing */
.sign.up .submit {
  position: relative;
  left: 40px;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.7s ease;
  cursor: pointer;
  border-radius: 90px;
  height: 53px;
}
.submit:hover {
  background-color: rgb(31, 122, 182);
  color: white;
}
/* label icon */
.sign.up label {
  position: relative;
  right: -10px;
  top: 100px;
}

.I.have.an.Account {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: black;
  transition: 0.2s ease;
  letter-spacing: 2px;
}
.I.have.an.Account:hover {
  color: rgb(31, 122, 182);
  text-decoration: underline;
}
footer p {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(40, 42, 53, 0.65);
}
footer a {
  color: rgba(40, 42, 53, 0.65);
}
footer a:hover {
  color: rgb(31, 122, 182);
}
@media (max-width: 800px) {
  /* x-mark */
  a.exit {
    font-size: 25px;
    color: #333434;
    position: absolute;
    right: 5%;
  }
  .sign.up {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 400px;
    left: 40%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 6px;
    box-shadow: none;
  }
  .sign input {
    height: 45px;
    width: 93%;
    border-radius: 4px;
    outline: none;
    margin-top: 60px;
    border: 1px solid #ced4da;
    padding-left: 20px;
    padding-right: 0px;
    position: relative;
    left: 120px;
    top: 100px;
  }
  .sign.up label{
    margin-left: 80px;
    position:relative;
    top: 191px;
  }
  .sign.up .submit{
    position: relative;
    left: 120px;

  }
}
